
.app {
    font-family: 'Arial', sans-serif;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;
}

.logo {
    height: 70px;
    width: 270px;
}

.navbar {
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
    padding: 0.5rem;
    font-size: large;
    border-radius: 5px;
    transition: background-color 0.3s;

}

.navbar ul {
    list-style-type: none;
    color: #495E57;
}

