footer {
    display: flex;
    justify-content: center;
    background-color: #EDEFEE;
}

ul {
    display: flex;
    justify-content:space-between;
}

a {
    text-decoration: none;
    color: #495E57;
}

.footer-logo {
    margin: 40px;
    width: 260px;
    height: 100px;
}