.hero {
    background-color: #495E57;
    height: auto;
    font-family: 'Karla', sans-serif;
    font-size: 32px;
    color: #EDEFEE;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero p {
    flex: 1;
    padding: 2rem;
    hyphens:inherit;
    font-size: 2vw;
    text-align: justify;
}

.heroImg {
    height: auto;
    max-width: 100%;
    flex: 1;
}
input[type='radio'] {
    width: 30px;
    height: 30px;
    accent-color: #495E57;
    margin-left: 50px;
  }


.radio-button {
    font-weight: 600;
    font-size: larger;
    color: #495E57;
}

.button-go {
    grid-column: 2/4;
    grid-row: 4;
    text-align: center ;
    width: 320px;
    height: 60px;
    background-color: #495E57;
    font-family: 'Karla', sans-serif;
    font-size: 32px;
    color: #F4CE14;
    border-radius: 12px;
    justify-self: center;

}

.find-table {
    color: #495E57;
}

.TableInfo {
    background-color: #F4CE14;
    display: grid;
    height: 600px;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 15% 40% 15%;
    row-gap: 10px;
}

.TableInfo h1 {
    grid-column: 2/4;
    text-align: center;
    grid-row: 1;

}

.leftDetails  {
    display: flex;
    justify-content: space-between;
    grid-column: span 2;
    grid-row: span 1;
    flex-direction: row;
}

#time {
    background-color: #EDEFEE;
    color: #495E57;
    border-radius: 10px;
    border-color: #EDEFEE;
}

#date {
    background-color: #EDEFEE;
    color: #495E57;
    border-radius: 10px;
}

#diners {
    background-color: #EDEFEE;
    color: #495E57;
    border-radius: 10px;
}

#occasion {
    background-color: #EDEFEE;
    color: #495E57;
    border-radius: 10px;
}

.seating_options {
    grid-column: span 2;
    grid-row: 3/4;
    text-align: center;
    align-self: center;
    font-size: 25px;
}

.leftDetails #outside {
    width: calc(50% - 10px); 
    max-width: 75%;
    height: auto;

    /* padding: 1rem; */
}

.leftDetails #inside {

    width: calc(50% - 10px);
    max-width: 100%;
    height: auto;
    /* padding: 1rem; */
}


.rightDetails {
    grid-column: span 2;
    grid-row: span 1;
    
}

/* #dropdown {
    text-align: center;
    background-color: #495E57;
    color: #EDEFEE;
    font-family: 'Karla', sans-serif;
    font-size: 32px;
    color: #EDEFEE;
    border-radius: 12px;
} */
/* 
.TimeDate {
    margin-bottom: 2rem;
    margin-left: 2rem;
    width: auto;
    height: 60px;
}

.occasion {
    margin-top: 2rem;
    width: auto;
    height: 60px;
}

.Date-Time {
    font-size: 30px;
    width: auto;
    height: 100px;
} */

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* two columns */
    gap: 30px;
    text-align: center;
    /* background-color: #495E57;
    color: #EDEFEE;
    font-family: 'Karla', sans-serif;
    font-size: 32px;
    color: #EDEFEE;
    border-radius: 12px;  */

}

.input-group label {
    display: none;
    /* margin-bottom: 5px; */
}

.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #EDEFEE;
    border-radius: 5px; /* optional */
    background-color: #f4f4f4; /* optional */
    /* appearance: none; */
    background-color: #495E57;
    color: #EDEFEE;
    background-position: right 10px center;
    background-repeat: no-repeat;
    font-size: 32px;
}

.input-group#dinners{
    grid-column: span 2;

}
.input-group#occasion{
    grid-column: span 2;

}


.seating-options {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    grid-row: 3/4;
    grid-column: 1/3;
    font-size: 25px;
    padding: 20px

}

.options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* spacing between the two options */
}

.option {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* spacing between the radio button and its label */
}

.SignAndCreditcard {
    font-size: large;
    color: #EDEFEE;
    display: flex;
    background-color: #495E57;
    justify-content: space-between;
    padding: 20px;
}

.booking-email {
    justify-items: center;
    display: flex;
    justify-content: center;
}
.booking-text {
    justify-items: center;
    display: flex;
    justify-content: center;
}

.Input-info {
    background-color: #EDEFEE;
    font-size: 30px;
    border-radius: 13px;
    width: 650px;
    height: 70px;
}

.Input-info-year {
    background-color: #EDEFEE;
    font-size: 30px;
    border-radius: 13px;
    width: 320px;
    height: 70px;
}

.Input-info-cvv {
    background-color: #EDEFEE;
    font-size: 30px;
    border-radius: 13px;
    width: 190px;
    height: 70px;
}
.Input-info-text {
    background-color: #EDEFEE;
    font-size: 30px;
    border-radius: 13px;
    width: 650px;
    height: 140px;

}


::placeholder {
    font-size: 30px;
    color:#495E57;
    font-size: 30px;
  }

input:focus {
    outline: none;
}

.Booking {
    margin: 60px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 13px;
    color: #495E57;
    background-color: #F4CE14;
    height: 80px;
    width: 320px;
}